<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <connectionStrings>
    <add name="LogConnection" connectionString="Server=N30310W7AKL\MSSQLSERVER2014;Database=CacheViewer;User Id=sa;Password=xo2Die5l;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Server=N30310W7AKL\MSSQLSERVER2014;Database=CacheViewer;User Id=sa;Password=xo2Die5l;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <!--<add name="LogConnection" connectionString="Server=localhost;Database=CacheViewer;User Id=sa;Password=xo2Die5l;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Server=localhost;Database=CacheViewer;User Id=sa;Password=xo2Die5l;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>