<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <connectionStrings>
    <add name="LogConnection" connectionString="Server=N30310W7AKL\MSSQLSERVER2014;Database=CacheViewer;User Id=sa;Password=xo2Die5l;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Server=N30310W7AKL\MSSQLSERVER2014;Database=CacheViewer;User Id=sa;Password=xo2Die5l;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="UseDatabase" value="false" />
    <add key="CacheFolder" value="C:\dev\cache\" />  
    <add key="MeshesFolder" value="C:\dev\ShadowbaneCacheViewer\CacheViewer.Tests\CacheFiles\Meshes\" />
    <add key="ExportFolder" value="C:\dev\ShadowbaneCacheViewer\Exports\" />
    <add key="ConnectionString" value="Server=localhost;Database=CacheViewer;User Id=sa;Password=xo2Die5l;MultipleActiveResultSets=True" />
    <add key="MainFormType" value="CacheViewForm"/>
    <!--<add key="MainFormType" value="MainForm"/>-->
    <!--<add key="ConnectionString" value="Server=10.94.21.19;Initial Catalog=CacheView;User Id=steve;Password=hacker22;MultipleActiveResultSets=True"/>-->
    <!--<add key="ConnectionString" value="Server=Localhost;Initial Catalog=CacheView;Trusted_Connection=true;MultipleActiveResultSets=True"/>-->

  </appSettings>
  <runtime>
    <gcAllowVeryLargeObject enabled="true" />
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
