<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true" internalLogFile="C:\\dev\\CacheViewer_2014\\CacheViewer\\nlog.txt" internalLogLevel="Debug" >
  <targets>
    <!--<target name="file" xsi:type="File"
        layout="${longdate} ${logger} ${message}"
        fileName="${basedir}/Logs/${level}.log" />-->
    <target type="Database" name="database" connectionstringname="LogConnection">

      <commandText>
        insert into LogTable(LogLevel, Logger, Message, MessageId, WindowsUserName, CallSite, ThreadId, Exception, StackTrace)
        values( @level, @logger, @message,@msgid, @user_name, @call_site, @threadid, @log_exception, @stacktrace);
      </commandText>
      <parameter name="@time_stamp" layout="${longdate}"/>
      <parameter name="@level" layout="${level}"/>
      <parameter name="@logger" layout="${logger}"/>
      <parameter name="@message" layout="${message}"/>
      <parameter name="@msgid" layout="${event-context:item=UniqueCode}"/>
      <parameter name="@user_name" layout="${windows-identity:domain=true}"/>
      <parameter name="@call_site" layout="${callsite:filename=true}"/>
      <parameter name="@threadid" layout="${threadid}"/>
      <parameter name="@log_exception" layout="${exception}"/>
      <parameter name="@stacktrace" layout="${stacktrace}"/>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="database"/>
    <!--<logger name="*" minlevel="Debug" writeTo="file" />-->
  </rules>
</nlog>