<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <connectionStrings>
    <add name="LogConnection" connectionString="Server=N30310W7AKL\MSSQLSERVER2014;Database=CacheViewer;User Id=sa;Password=xo2Die5l;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="CacheFolder" value="C:\dev\cache\" />
    <add key="MeshesFolder" value="C:\dev\ShadowbaneCacheViewer\Exports\Meshes\" />
    <add key="CacheObjectsFolder" value="C:\dev\ShadowbaneCacheViewer\Exports\CacheObjects\" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" /></startup></configuration>
