#throttle the channel messages size and frequency.
#CHANNELTHROTTLE= <Channel> <# of Message> <Per Seconds> <Max length of message>
CHANNELTHROTTLE= Say 30 10 256
CHANNELTHROTTLE= Shout 9 10 256
CHANNELTHROTTLE= Global 5 5 256
CHANNELTHROTTLE= Trade 5 5 256