#RuneTemplateID RaceOnly-GenderOnly(none means both)
RACERUNESBEGIN
	2011 male
	2012 female
	2000 male
	2001 female
	2006 male
	2008 male
	2009 female
	2010 male
	2013 male
	2014 female
	2015 male
	2016 female
	2002 male
	2003 female
	2004 male
	2005 female
	2017 male
	2025 male
	2026 female
	2027 female
	2028 male
	2029 female
RACERUNESEND
CLASSRUNESBEGIN
	2500
	2501
	2502
	2503
CLASSRUNESEND
PROMOTIONRUNESBEGIN
	2504
	2505
	2506
	2507
	2508
	2509
	2510
	2511
	2512
	2513
	2514
	2515
	2516
	2517
	2518
	2519
	2520
	2521
	2523
	2524
	2525
	2526
PROMOTIONRUNESEND
ATTRRUNESBEGIN
	250045	# Agile
	250046	# Ambidexterity
	250047	# Blacksmith's Apprentice
	250048	# Blessed
	250049	# Blood of the Desert
	250050	# Blood of the Dragon
	250051	# Blood of the North
	250052	# Born in the Country
	252129	# Born of the Ethyri
	252131	# Born of the Gwendannen
	252132	# Born of the Invorri
	252133	# Born of the Irydnu
	252130	# Born of the Taripontor
	250053	# Bowyer Born
	250054	# Brawler
	250055	# Brilliant Mind
	250056	# Bruiser
	250057	# Changeling
	250058	# Clever
	250059	# Dark Whispers
	250060	# Divine Touch
	250061	# Eyes of the Eagle
	250062	# Faith of Ages
	250063	# Fleet of Foot
	250064	# Giant's Blood
	250065	# Healthy as an Ox
	250066	# Hearty
	250067	# Hero's Strength
	250068	# Hunter
	250018	# Increased Constitution
	250009	# Increased Dexterity
	250027	# Increased Intelligence
	250036	# Increased Spirit
	250000	# Increased Strength
	250069	# Iron Will
	250070	# Juggernaut
	250071	# Knife-Fighter
	250072	# Knight's Squire
	250073	# Lightning Reflexes
	250074	# Lucky
	250075	# Mercenary
	250076	# Mighty
	250077	# Military Training
	250078	# Precise
	250079	# Priest's Acolyte
	250080	# Proficient with Axes
	#250081	# Proficient with Bows
	250082	# Proficient with Crossbows
	250083	# Proficient with Daggers
	250084	# Proficient with Hammers
	250085	# Proficient with Pole Arms
	250086	# Proficient with Spears
	252625	# Proficient with Staves
	250087	# Proficient with Swords
	250088	# Raised by Barbarians
	250089	# Raised by Centaurs
	250090	# Raised by Dwarves
	250091	# Raised by Elves
	250092	# Raised by Thieves' Guild
	250093	# Raised in the Woods
	252134	# Scion of the Dar Khelegeur
	252135	# Scion of the Gwaridorn
	252136	# Scion of the Twathedilion
	250094	# Sellsword
	250095	# Sharpshooter
	250096	# Shopkeeper's Apprentice
	250097	# Snake Handler
	250098	# Sold to the Pits
	250099	# Soldier Born
	250100	# Stormborn
	252128	# Taint of Chaos
	250101	# Taint of Madness
	250102	# Taught by Blademaster
	250103	# Taught by Master Thief
	250104	# Tireless
	250105	# Tough as Nails
	250106	# Tough Hide
	250107	# Trained by Master-of-Arms
	250108	# Traveling Performer
	250109	# True Faith
	250110	# Wanderer
	250111	# Warlord's Page
	250112	# Witch Sight
	250113	# Wizard's Apprentice
	250114	# Woodsman

ATTRRUNESEND
