# Guildtype Allowedclasses

# ------------------------------------------ #
# Allowed sexes, races, and classes by guild #
# ------------------------------------------ #

BEGIN_ALLOWED

GUILDTYPE= "Amazon"
SEX= "Female"
RACE= "Aelfborn" "Elf" "Half-Giant" "Human"
CLASS= "Bard" "Druid" "Fury" "Huntress" "Priest" "Scout" "Warrior" "Wizard"
SUBGUILDTYPE= "Amazon"

END_ALLOWED

BEGIN_ALLOWED

GUILDTYPE= "Aracoix"
SEX= "AnySex"
RACE= "Aracoix"
CLASS= "Assassin" "Barbarian" "Bard" "Huntress" "Priest" "Ranger" "Scout" "Thief" "Warlock" "Warrior"
SUBGUILDTYPE= "Aracoix"

END_ALLOWED

BEGIN_ALLOWED

GUILDTYPE= "Barbarian"
SEX= "AnySex"
RACE= "Aelfborn" "Half-Giant" "Human" "Minotaur"
CLASS= "Barbarian" "Bard" "Doomsayer" "Fury" "Priest" "Scout" "Thief" "Warrior"
SUBGUILDTYPE= "Barbarian"

END_ALLOWED

BEGIN_ALLOWED

GUILDTYPE= "Cathedral"
SEX= "AnySex"
RACE= "Aelfborn" "Centaur" "Elf" "Half-Giant" "Human"
CLASS= "Bard" "Channeler" "Crusader" "Nightstalker" "Prelate" "Priest" "Sentinel" "Scout"
SUBGUILDTYPE= "Cathedral"

END_ALLOWED

BEGIN_ALLOWED

GUILDTYPE= "Centaur"
SEX= "AnySex"
RACE= "Centaur"
CLASS= "Barbarian" "Crusader" "Druid" "Huntress" "Prelate" "Priest" "Ranger" "Sentinel" "Warrior"
SUBGUILDTYPE= "Centaur"

END_ALLOWED

BEGIN_ALLOWED

GUILDTYPE= "Dwarves"
SEX= "AnySex"
RACE= "Dwarf"
CLASS= "Crusader" "Prelate" "Priest" "Sentinel" "Warrior"
SUBGUILDTYPE= "Dwarves"

END_ALLOWED

BEGIN_ALLOWED

GUILDTYPE= "HighCourt"
SEX= "AnySex"
RACE= "Elf" "Minotaur"
CLASS= "Assassin" "Bard" "Channeler" "Druid" "Necromancer" "Priest" "Ranger" "Scout" "Thief" "Warrior" "Wizard"
SUBGUILDTYPE= "HighCourt"

END_ALLOWED

BEGIN_ALLOWED

GUILDTYPE= "Mercenary"
SEX= "AnySex"
RACE= "Aelfborn" "Aracoix" "Half-Giant" "Human" "Shade"
CLASS= "Assassin" "Bard" "Priest" "Scout" "Thief" "Warlock" "Warrior"
SUBGUILDTYPE= "Mercenary"

END_ALLOWED

BEGIN_ALLOWED

GUILDTYPE= "Military"
SEX= "AnySex"
RACE= "Centaur" "Half-Giant" "Human"
CLASS= "Bard" "Priest" "Scout" "Warlock" "Warrior" "Wizard"
SUBGUILDTYPE= "Military"

END_ALLOWED

BEGIN_ALLOWED

GUILDTYPE= "Noble"
SEX= "AnySex"
RACE= "Aelfborn" "Half-Giant" "Human"
CLASS= "Assassin" "Bard" "Channeler" "Priest" "Scout" "Thief" "Warlock" "Warrior" "Wizard"
SUBGUILDTYPE= "Noble"

END_ALLOWED

BEGIN_ALLOWED

GUILDTYPE= "Oblivion"
SEX= "AnySex"
RACE= "Human" "Shade" "Vampire"
CLASS= "Assassin" "Channeler" "Necromancer" "Priest" "Scout" "Thief" "Warlock" "Warrior" "Wizard"
SUBGUILDTYPE= "Oblivion"

END_ALLOWED

BEGIN_ALLOWED

GUILDTYPE= "Ranger"
SEX= "AnySex"
RACE= "Aelfborn" "Elf" "Half-Giant" "Human" "Shade"
CLASS= "Bard" "Channeler" "Druid" "Priest" "Ranger" "Scout" "Warrior"
SUBGUILDTYPE= "Ranger"

END_ALLOWED

BEGIN_ALLOWED

GUILDTYPE= "Templar"
SEX= "AnySex"
RACE= "Half-Giant" "Human"
CLASS= "Assassin" "Bard" "Channeler" "Confessor" "Nightstalker" "Priest" "Scout" "Templar"
SUBGUILDTYPE= "Templar"

END_ALLOWED

BEGIN_ALLOWED

GUILDTYPE= "Thieves"
SEX= "AnySex"
RACE= "Aelfborn" "Aracoix" "Elf" "Human" "Irekei" "Nephilim" "Shade" "Vampire"
CLASS= "Assassin" "Barbarian" "Bard" "Priest" "Scout" "Thief" "Wizard"
SUBGUILDTYPE= "Thieves"

END_ALLOWED

BEGIN_ALLOWED

GUILDTYPE= "Virakt"
SEX= "AnySex"
RACE= "Irekei"
CLASS= "Assassin" "Bard" "Channeler" "Fury" "Huntress" "Nightstalker" "Priest" "Ranger" "Scout" "Thief" "Warrior" "Wizard"
SUBGUILDTYPE= "Virakt"

END_ALLOWED

BEGIN_ALLOWED

GUILDTYPE= "Wizard"
SEX= "AnySex"
RACE= "Aelfborn" "Elf" "Human" "Nephilim" "Shade"
CLASS= "Assassin" "Bard" "Channeler" "Doomsayer" "Fury" "Necromancer" "Priest" "Warlock" "Wizard"
SUBGUILDTYPE= "Wizard"

END_ALLOWED

# ================================== #
BEGIN_ALLOWED

GUILDTYPE= "Coven"
SEX= "AnySex"
RACE= "AnyRace"
CLASS= "AnyClass"
SUBGUILDTYPE= "Coven"

END_ALLOWED

BEGIN_ALLOWED

GUILDTYPE= "Unholy"
SEX= "AnySex"
RACE= "Human" "Shade" "Vampire"
CLASS= "Assassin" "Channeler" "Necromancer" "Priest" "Scout" "Thief" "Warlock" "Warrior" "Wizard" "Wizard"
SUBGUILDTYPE= "Unholy"

END_ALLOWED

BEGIN_ALLOWED

GUILDTYPE= "Cult"
SEX= "AnySex"
RACE= "Aelfborn" "Human" "Minotaur" "Nephilim"
CLASS= "Bard" "Channeler" "Doomsayer" "Priest" "Scout" "Warrior" "Wizard"
SUBGUILDTYPE= "Cult"

END_ALLOWED

BEGIN_ALLOWED

GUILDTYPE= "Pirates"
SEX= "AnySex"
RACE= "AnyRace"
CLASS= "AnyClass"
SUBGUILDTYPE= "Pirates"

END_ALLOWED

BEGIN_ALLOWED

GUILDTYPE= "Heralds"
SEX= "AnySex"
RACE= "AnyRace"
CLASS= "AnyClass"
SUBGUILDTYPE= "Heralds"

END_ALLOWED
