#Type                     Behavior                      DisplayCategory          DisplayString
Ambidexterity             Flag                          Flag                     "Ambidexterity"
AnimOverride              MapIntToInts                  None                     ""
ArmorPiercing             Standard                      Combat                   "Armor Piercing"
AttackDelay               Standard                      Combat                   "Attack Delay"
Attr                      FPSubTypeAttr                 Attribute                ""
AttrReq                   FPSubTypeAttr                 Requirement              ""
BlackMantle               SubTypeSourceType             BlackMantle              "Immune to"
BladeTrails               Flag                          Flag                     ""
Block                     Standard                      Combat                   "Block Chance"
BlockedPowerType          SubTypePowerType              Flag                     "Blocked Power Type"
BulkFactor                Standard                      Armor                    "Bulk Factor"
BulkFactorMin             Standard                      Armor                    "Min Bulk Factor"
CannotAttack              Flag                          Flag                     "Cannot Attack"
CannotCast                Flag                          Flag                     "Cannot Cast"
CannotCastSpell           Flag                          Flag                     "Cannot Cast Spell"
CannotCastSkill           Flag                          Flag                     "Cannot Cast Skill"
CannotMove                Flag                          Flag                     "Cannot Move"
CannotTrack               Flag                          Flag                     "Cannot Be Tracked"
Charmed                   Flag                          Flag                     ""
ConstrainedAmbidexterity  SubTypeSkill                  Flag                     "Constrained Ambidexterity"
DCV                       Standard                      Combat                   "Defense"
DR                        Standard                      Armor                    "Defense Rating"
MeleeDamageModifier       Standard                      Combat                   "Damage"
PowerDamageModifier       Standard                      Combat                   "Power Damage"
DamageShield              FPSubTypeDmg                  DamageShield             "Damage Shield"
Desolid                   Flag                          Flag                     "Desolid"
Dodge                     Standard                      Combat                   "Dodge Chance"
Durability                Standard                      Combat                   "Durability"
Encumbrance               Standard                      Encumbrance              ""
Fade                      Standard                      None                     ""
Fly                       Flag                          Flag                     "Fly"
Health                    DD                            StatChange               "Health"
HealthFull                Standard                      Stat                     "Health"
HealthRecoverRate         Standard                      RecoverRate              "Health Recovery"
IgnorePassiveDefense	  Flag                          Flag                     "Ignore Target's Passive Defense"
ImmuneTo                  SubTypeSourceType             BlackMantle              "Immune to"
ImmuneToAttack            Flag                          Flag                     "Immune To Attack"
ImmuneToPowers            Flag                          Flag                     "Immune To Powers"
Invisible                 Flag                          Flag                     "Invisible"
ItemName                  String                        None                     ""
LevelReq                  Standard                      Requirement              "Level"
Mana                      DD                            StatChange               "Mana"
ManaFull                  Standard                      Stat                     "Mana"
ManaRecoverRate           Standard                      RecoverRate              "Mana Recovery"
MaxDamage                 Standard                      Weapon                   "Max Damage"
MinDamage                 Standard                      Weapon                   "Min Damage"
MaxNaturalAttackDamage    Standard                      Weapon                   "Max Natural Damage"
MinNaturalAttackDamage    Standard                      Weapon                   "Min Natural Damage"
NoMod                     SubTypeMod                    NoMod                    "No"
NoStilled                 Flag                          Flag                     "No Stilled"
OCV                       Standard                      Combat                   "Attack"
Parry                     Standard                      Combat                   "Parry Chance"
PassiveDefense            Standard                      Weapon                   "Passive Defense"
PowerCost                 Standard                      Combat                   "Power Cost"
PowerGrant                SubTypePower                  Combat                   "Power Grant"
ProjectileSpeed           Standard                      Weapon                   "Projectile Speed"
ProtectionFrom            SubTypeDmg                    ProtectionFrom           ""
Resistance                FPSubTypeDmg                  Resistance               "Resistance"
ScaleHeight               Standard                      Scale                    "Height"
ScaleWidth                Standard                      Scale                    "Width"
ScanRange		  Standard                      Flag                     "Aggression Range"
SeeInvisible              Flag                          Flag                     "See Invisible"
Silenced                  Flag                          Flag                     "Silence"
Skill                     FPSubTypeSkill                Skill                    ""
Slay                      FPSubTypeMonster              Slay                     "Slaying"
Sneak                     Flag                          Flag                     "Sneak"
Speed                     Standard                      Speed                    "Movement Speed"
Stamina                   DD                            StatChange               "Stamina"
StaminaFull               Standard                      Stat                     "Stamina"
StaminaRecoverRate        Standard                      RecoverRate              "Stamina Recovery"
StaminaUseWhileRunning    Standard                      RecoverRate              "Stamina Use While Running"
Stilled                   SubTypeSkill                  Stilled                  ""
Stunned                   Flag                          Flag                     "Stun"
Value                     Standard                      None	                 ""
WeaponProc                ProcInfo                      Combat                   "Weapon Proc"
WeaponRange               Standard                      Weapon                   "Range"
WeaponSpeed               Standard                      Weapon                   "Weapon Speed"
Weight                    Standard                      Item                     "Weight"
IgnoreDamageCap           SubTypeDmg                    Armor                    "Ignores Cap"
ExclusiveDamageCap        SubTypeDmg                    Requirement              "Limits Damage"
DamageCap                 Standard                      Combat                   "Damage Limit(of max health)"
AdjustAboveDmgCap         Standard                      Stat                     "Excess Damage Reduction"
SpireBlock                Flag                          Flag                     "Spire Block"
PowerCostHealth           Flag                          Flag                     "Powers Cost Health"
