#"UIDName" "English Name"
BEGINRACE
	"Aelfborn" "Aelfborn"
	"All" "All"
	"Animal" "Animal"
	"Aracoix" "Aracoix"
	"Celestial" "Celestial"
	"Centaur" "Centaur"
	"Construct" "Construct"
	"CSR" "CSR"
	"Dragon" "Dragon"
	"Dwarf" "Dwarf"
	"Elf" "Elf"
	"Giant" "Giant"
	"Goblin" "Goblin"
	"Grave"	"Grave"
	"Half-Giant" "Half-Giant"
	"Human" "Human"
	"Infernal" "Infernal"
	"Insect" "Insect"
	"Irekei" "Irekei"
	"Minotaur" "Minotaur"
	"Monster" "Monster"
	"NecroPet" "NecroPet"
	"NPC" "NPC"
	"Pet" "Pet"
	"Plant" "Plant"
	"Rat" "Rat"
	"Reptile" "Reptile"
	"Shade" "Shade"
	"Siege" "Siege"
	"Summoned" "Summoned"
	"Troll" "Troll"
	"Undead" "Undead"
	"Nephilim" "Nephilim"
	"Vampire" "Vampire"
ENDRACE


BEGINCLASS
	"Fighter"       "Fighter"
	"Healer"        "Healer"
	"Rogue"         "Rogue"
	"Mage"          "Mage"
	"Warrior"       "Warrior"
	"Priest"        "Priest"
	"Thief"         "Thief"
	"Wizard"        "Wizard"
	"Assassin"      "Assassin"
	"Barbarian"     "Barbarian"
	"Bard"          "Bard"
	"Channeler"     "Channeler"
	"Confessor"     "Confessor"
	"Crusader"      "Crusader"
	"Druid"         "Druid"
	"Fury"          "Fury"
	"Huntress"      "Huntress"
	"Pet"           "Pet"
	"Prelate"		"Prelate"
	"Ranger"		"Ranger"
	"Scout"			"Scout"
	"Templar"		"Templar"
	"Warlock"		"Warlock"
	"Doomsayer"		"Doomsayer"
	"Sentinel"		"Sentinel"
	"Necromancer"		"Necromancer"
	"Nightstalker"		"Nightstalker"
ENDCLASS

BEGINDISCIPLINE
	"Alchemist"		"Alchemist"
	"Animator"		"Animator"
	"Archer"		"Archer"
	"Berserker"		"Berserker"
	"Black Mask"	"Black Mask"
	"Blacksmith"	"Blacksmith"
	"Blade Master"	"Blade Master"
	"Blade Weaver"	"Blade Weaver"
	"Blood Prophet" "Blood Prophet"
	"Bounty Hunter" "Bounty Hunter"
	"Clanwarden"	"Clanwarden"
	"Commander"		"Commander"
	"Dark Knight"	"Dark Knight"
	"Duelist"		"Duelist"
	"Forge Master"	"Forge Master"
	"Giant Killer"	"Giant Killer"
	"Gladiator"		"Gladiator"
	"Huntsman"		"Huntsman"
	"Knight"		"Knight"
	"Rat Catcher"	"Rat Catcher"
	"Rune Caster"	"Rune Caster"
	"Enchanter"		"Enchanter"
	"Storm Lord"	"Storm Lord"
	"Summoner"		"Summoner"
	"Sundancer"		"Sundancer"
	"Trainer"		"Trainer"
	"Traveler"		"Traveler"
	"Undead Hunter" "Undead Hunter"
	"Werebear"		"Werebear"
	"Wererat"		"Wererat"
	"Werewolf"		"Werewolf"
	"Wyrmslayer"	"Wyrmslayer"
	"Conjurer"	"Conjurer"
	"Darksworn"	"Darksworn"
	"Valkyr"	"Valkyr"
	"Blood Horn"	"Blood Horn"
	"Shroudborne"	"Shroudborne"
	"Archmage"	"Archmage"
	"Thrall"	"Thrall"
	"Artillerist"	"Artillerist"
	"Savant"	"Savant"
	"Sky Dancer"	"Sky Dancer"
	"Prospector"	"Prospector"
	"Belgosch"	"Belgosch"
	"Drannok"	"Drannok"
	"Gorgoi"	"Gorgoi"
	"Strigoi"	"Strigoi"
	"Sapper"	"Sapper"
	"Saboteur"	"Saboteur"
	"Battle Magus"	"Battle Magus"
	"Sanctifier"	"Sanctifier"
ENDDISCIPLINE

BEGINTALENT
	"Admin"			"Admin"
	"Nightvision"		"Nightvision"
	"Ambidexterity" 	"Ambidexterity"
	"SpiMaxIncrease" 	"SpiMaxIncrease"
	"DexMaxIncrease" 	"DexMaxIncrease"
	"ConMaxIncrease" 	"ConMaxIncrease"
	"StrMaxIncrease" 	"StrMaxIncrease"
	"StamMaxIncrease" 	"StamMaxIncrease"
	"IntMaxIncrease" 	"IntMaxIncrease"
	"HealthMaxIncrease" 	"HealthMaxIncrease"
	"ManaMaxIncrease" 	"ManaMaxIncrease"
	"Background"		"Background"
	"Mentor"		"Mentor"
	"Apprentice" 		"Apprentice"
	"Blood Gift" 		"Blood Gift"
	"Childhood" 		"Childhood"
	"Constitution" 		"Constitution"
	"Dexterity" 		"Dexterity"
	"Intelligence" 		"Intelligence"
	"Spirit"		"Spirit"
	"Strength" 		"Strength"
	"Subrace"		"Subrace"
ENDTALENT
