NAME= "High Court"
NUMRANKS= 9
# --------------------------------------

RANKNAME= "Eccelene"
RANKNAME= "Saerdulor" "Saerdulil"
RANKNAME= "Hodrimarth" 
RANKNAME= "Mandrae" 
RANKNAME= "Irmaelin" 
RANKNAME= "Thaelostor" "Thaelostril"
RANKNAME= "Dar Thaelostor" "Dar Thaelostril"
RANKNAME= "Aglaeron" 
RANKNAME= "Ellestor" "Ellestril"
