NAME= "Thieves' Band"
NUMRANKS= 10
#RANKNAMES "Urchin" "Footpad" "Collector" "Treasurer" "Enforcer" "Grandmaster Thief"
# --------------------------------------
RANKNAME= "Urchin" 
RANKNAME= "Footpad" 
RANKNAME= "Grifter" 
RANKNAME= "Burglar" 
RANKNAME= "Collector" 
RANKNAME= "Master Thief" 
RANKNAME= "Treasurer" 
RANKNAME= "Enforcer" 
RANKNAME= "Grandmaster Thief"
RANKNAME= "Grandfather"

