NAME= "Virakt"
NUMRANKS= 9
# --------------------------------------

RANKNAME= "Jo'vuus"
RANKNAME= "Urikhan"
RANKNAME= "Irikhan"
RANKNAME= "Sek'alar"
RANKNAME= "Khal'usht"
RANKNAME= "Arkhalar"
RANKNAME= "Khal'urvho"
RANKNAME= "Khar'uus"
RANKNAME= "Kryqhi'khalin"

