NAME= "Dwarf Hold"
NUMRANKS= 6
# --------------------------------------

RANKNAME= "Citizen"
RANKNAME= "Master"
RANKNAME= "Councilor"
RANKNAME= "Thane"
RANKNAME= "Great Thane"
RANKNAME= "High Thane"

