NAME= "Church of the All-Father"
NUMRANKS= 8
#RANKNAMES "Acolyte" "Deacon" "Priest" "High Priest" "Bishop" "Patriarch"
# --------------------------------------
RANKNAME= "Acolyte" "Acolyte"
RANKNAME= "Catechist" 
RANKNAME= "Deacon" "Deaconess" 
RANKNAME= "Priest" "Priestess" 
RANKNAME= "High Priest" "High Priestess"
RANKNAME= "Bishop" "Bishop" 
RANKNAME= "Lord Cardinal" "Lady Cardinal" 
RANKNAME= "Patriarch" "Matriarch"
