NAME= "Wizard's Conclave"
NUMRANKS= 7
#RANKNAMES "Apprentice" "Neophyte" "Adept" "Magus" "High Magus" "Archmagus" "Archon"
# --------------------------------------
RANKNAME= "Apprentice" 
RANKNAME= "Neophyte" 
RANKNAME= "Adeptus Minor"
RANKNAME= "Adeptus Major" 
RANKNAME= "Magus" 
RANKNAME= "High Magus"
RANKNAME= "Archmagus" 
