# ============================================
# Shadowbane Screen Configuration File
# ============================================
FILEVERSION= 2003092201
SKIN= Login

WINDOWREZ= 800 600

#HUDBEGIN
#  TEMPLATE= 	Art1
#  LOCATION= 	0 44
#  MADEFOR= 		800 600
#HUDEND
#HUDBEGIN
#  TEMPLATE= 	Art2
#  LOCATION= 	672 44
#  MADEFOR= 		800 600
#HUDEND

#HUDBEGIN
#  TEMPLATE= 		LOGO
#  LOCATION= 0 0
#  CENTERXONSCREEN
#  MADEFOR= 800 600
#HUDEND

HUDBEGIN
  TEMPLATE= 		SERVERSELECTION
  LOCATION= 0 220
  CENTERONSCREEN
  MADEFOR= 		800 600
HUDEND

