# ============================================
# Shadowbane Screen Configuration File
# ============================================
FILEVERSION= 2003092201
SKIN= Login

WINDOWREZ= 800 600

HUDBEGIN
  TEMPLATE= 	CHARCREATEFRAMEXP
  LOCATION= 	0 497
  GHOST=        0.0
  MADEFOR= 		800 600
HUDEND

HUDBEGIN
  TEMPLATE= 	CHARTALENTSXP
  LOCATION= 	-284 149
  MADEFOR= 		800 600
HUDEND

HUDBEGIN
  TEMPLATE= 	CHARACTEROPTIONS
  LOCATION= 	0 -114
  MADEFOR= 		800 600
HUDEND

HUDBEGIN
  TEMPLATE= 	CHARSEXXP
  LOCATION= 	-284 149
  MADEFOR= 		800 600
HUDEND

HUDBEGIN
  TEMPLATE= 	CHARRACELORE
  LOCATION= 	-284 394
  MADEFOR= 		800 600
HUDEND

HUDBEGIN
  TEMPLATE= 	CHARRACEXP
  LOCATION= 	-284 149
  MADEFOR= 		800 600
HUDEND

HUDBEGIN
  TEMPLATE= 	CHARBASECLASSXP
  LOCATION= 	-284 149
  MADEFOR= 		800 600
HUDEND

HUDBEGIN
  TEMPLATE= 	CHARBASECLASSXPBOTTOM
  LOCATION= 	-284 319
  GHOST=	1.0
  MADEFOR= 		800 600
HUDEND

HUDBEGIN
  TEMPLATE= 	CHARCLASSLORE
  LOCATION= 	-284 422
  MADEFOR= 		800 600
HUDEND

HUDBEGIN
  TEMPLATE= 	CHARRUNESTONESXP
  LOCATION= 	221 600
  MADEFOR= 		800 600
HUDEND

HUDBEGIN
  TEMPLATE= 	CHARATTRIBUTESXP
  LOCATION= 	583 -502
  MADEFOR= 		800 600
HUDEND

HUDBEGIN
  TEMPLATE= 	SERVERSELECTIONXP
  LOCATION= 800 220
  CENTERYONSCREEN
  MADEFOR= 		800 600
HUDEND

HUDBEGIN
  TEMPLATE= 	CHARCREATEIDENTITYXP
  LOCATION= 	0 -32
  MADEFOR= 		800 600
HUDEND

